<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1013273912582-9jhjqs1b3ks7vqr33ri5hvm1jpfgbjmj</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>1013273912582-9jhjqs1b3ks7vqr33ri5hvm1jpfgbjmj.apps.googleusercontent.com</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location to help you pinpoint your property on the map</string>
</dict>
</plist>
